@using System.Web
@using ErkinStudy.Domain.Entities.Identity
@using ErkinStudy.Infrastructure.Services
@using ErkinStudy.Web.Helpers
@using Microsoft.AspNetCore.Identity
@inject UserService UserService
@inject UserManager<ApplicationUser> UserManager
@model ErkinStudy.Domain.Entities.OnlineCourses.OnlineCourse
@{
    ViewData["Title"] = "OnlineCourseSchedule";
}
<div class="container">
    <div class="row">
        <div class="mx-auto mb-2 text-center">
            <h3 class="schedule-title">Курс бағдарламасы:</h3>
        </div>
        <div class="accordion" id="accordionCourse">
            @foreach (var week in Model.OnlineCourseWeeks.OrderBy(x => x.Order))
            {
                <div class="card">
                    <div class="card-header" id="heading_@week.Id">
                        <div class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_@week.Id" aria-controls="collapse_@week.Id">
                                    @week.Name
                                </button>
                          
                        </div>
                    </div>
                    <div id="collapse_@week.Id" class="collapse" aria-labelledby="collapse_@week.Id" data-parent="#accordionCourse">
                            <div class="card-body">
                                @week.Description
                                <div class="youtube-stream mx-auto mt-3">
                                    <iframe src="@week.StreamUrl" allowfullscreen="allowfullscreen">
                                    </iframe>
                                </div>
                                @if (week.Homeworks.Count > 0)
                                {
                                    <div class="homework">
                                        <p>Үй жұмысы:</p>
                                        <div class="homework-items">
                                            @foreach (var homework in week.Homeworks)
                                            {
                                                <a class="btn btn-outline-success" asp-controller="Course" asp-action="DownloadHomework" asp-route-id="@homework.Id">@homework.Name</a>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                </div>
            }
        </div>
    </div>
</div>
