@using ErkinStudy.Infrastructure.Services
@model IEnumerable<ErkinStudy.Domain.Entities.Quizzes.Quiz>
@inject FolderService FolderService
@{
    ViewData["Title"] = "Index";
}
<h2>Quizzes</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>N</th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Folder
            </th>
            <th>
                Q amt
            </th>
            <th>
                Color
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            foreach (var item in Model) {
                i++;
                <tr>
                    <td>@i</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @FolderService.GetFolderName(item.FolderId ?? -1)
                    </td>
                    <td>
                        @item.Questions.Count
                    </td>
                    <td style="@if(!string.IsNullOrWhiteSpace(item.Color)){ @Html.Raw($"background-color: {item.Color}")}">
                        @item.Color
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                        <a asp-controller="Question" asp-action="Index" asp-route-quizId="@item.Id">Questions</a> |
                        <a asp-action="Scores" asp-route-id="@item.Id">Scores</a> |
                        <a asp-controller="TakeQuiz" asp-action="Preview" asp-route-id="@item.Id">Preview</a>
                        <a asp-controller="Quiz" asp-action="Clone" asp-route-id="@item.Id">Clone</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
