@model IEnumerable<ErkinStudy.Domain.Entities.Quizzes.Quiz>
@{
    ViewData["Title"] = "Index";
}
<h2>Quizzes</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>N</th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FolderId)
            </th>
            <th>
                Q amt
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            foreach (var item in Model) {
                i++;
                <tr>
                    <td>@i</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FolderId)
                    </td>
                    <td>
                        @item.Questions.Count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="Question" asp-action="Index" asp-route-quizId="@item.Id">Questions</a> |
                        <a asp-action="Scores" asp-route-id="@item.Id">Scores</a> |
                        <a asp-controller="TakeQuiz" asp-action="Quiz" asp-route-id="@item.Id">Preview</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
