@model IEnumerable<ErkinStudy.Domain.Entities.Quiz.QuizScore>

@{
    ViewData["Title"] = "Scores";
}

<h1>Quiz scores</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuizId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Point)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TakenTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuizId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Point)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TakenTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
        </tr>
}
    </tbody>
</table>
