@model IEnumerable<ErkinStudy.Domain.Entities.OnlineCourses.UserOnlineCourse>

@{
    ViewData["Title"] = "Index";
}
    <div class="container">
        <p class="mt-4">
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OnlineCourse)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OnlineCourse.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new {  userId = item.UserId, courseId = item.OnlineCourseId })
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>
