@using System.Web
@using ErkinStudy.Domain.Entities.Identity
@using ErkinStudy.Domain.Entities.Lessons
@using ErkinStudy.Infrastructure.Services
@using Microsoft.AspNetCore.Identity
@model ErkinStudy.Domain.Entities.Lessons.Folder
@inject FolderService FolderService
@inject CourseService CourseService
@inject QuizService QuizService
@inject UserManager<ApplicationUser> UserManager
@inject UserService UserService
@{
    ViewData["Title"] = Model.Name;
    var childs = await FolderService.GetChilds(Model.Id);
    var courses = await CourseService.GetByFolderId(Model.Id);
    var quizzes = await QuizService.GetByFolderId(Model.Id);
    var userId = User.Identity.IsAuthenticated ? long.Parse(UserManager.GetUserId(User)) : 0;
}

<div class="container">
    <div class="row justify-content-center">
        <div class="card-list mt-5">
            @foreach (var folder in childs)
            {
                <div class="col-auto mb-3">
                    <div class="card text-white bg-primary" style="width: 18rem;">
                        <div class="card-body text-center">
                            @if (folder.Price == 0 || FolderService.IsUserHasAccess(folder.Id, userId))
                            {
                                <a asp-action="Folder" asp-route-id="@folder.Id" class="card-link text-white">@folder.Name</a>
                            }
                            else
                            {
                                <a href="https://wa.me/@UserService.GetUserPhone(folder.TeacherId ?? -1)?text=@HttpUtility.UrlEncode($"Сәлеметсізбе! Мен {folder.Name} курсына тіркелгім келеді")" class="card-link text-white">
                                    @folder.Name
                                </a>
                            }
                        </div>
                    </div>
                </div>
            }
            @foreach (var course in courses)
            {
                <div class="col-auto mb-3">
                    <div class="card text-white bg-primary" style="width: 18rem;">
                        <div class="card-body text-center">
                            <a asp-controller="Course" asp-action="Index" asp-route-id="@course.Id" class="card-link text-white">@course.Name</a>
                        </div>
                    </div>
                </div>
            }
            @foreach (var quiz in quizzes)
            {
                <div class="col-auto mb-3">
                        <div class="card text-white bg-primary" style="width: 18rem;">
                            <div class="card-body text-center">
                                <a asp-controller="TakeQuiz" asp-action="Quiz" asp-route-id="@quiz.Id" class="card-link text-white">@quiz.Title</a>
                                <a asp-controller="TakeQuiz" asp-action="Results" asp-route-id="@quiz.Id" class="card-link text-white">Рейтинг</a>
                            </div>
                        </div>
                    </div>
            }
            @foreach (var lesson in Model.Lessons ?? new List<Lesson>())
            {
                <div class="col-auto mb-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body text-center">
                            <h5 class="card-title">@lesson.Name</h5>
                            <p class="card-text">@lesson.Description</p>
                            <a asp-controller="Col" asp-action="Detail" asp-route-id="@lesson.Id" class="card-link">Ашу</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

