@using System.Globalization
@using ErkinStudy.Domain.Entities.Identity
@using ErkinStudy.Infrastructure.Services
@using Microsoft.AspNetCore.Identity
@inject UserService UserService
@inject UserManager<ApplicationUser> UserManager
@model ErkinStudy.Domain.Entities.OnlineCourse
@{
    ViewData["Title"] = "OnlineCourseSchedule";
    var nearestWeek = Model.OnlineCourseWeeks.OrderBy(x => x.StartDate).FirstOrDefault(x => x.StartDate > DateTime.Now);
    var isApproved = User.Identity.IsAuthenticated && UserService.IsUserApproved(UserManager.GetUserId(User));
}
<div class="container">
    <div class="row">
        <div class="mx-auto mb-2 text-center">
            <h3 class="schedule-title">Курс бағдарламасы:</h3>
            <div class="nextweek">
                Келесі сабақ - @nearestWeek?.Name
                <br>
                <ul class="countdownWeek">
                    <li><span id="days"></span>күн</li>
                    <li><span id="hours"></span>сағат</li>
                    <li><span id="minutes"></span>минут</li>
                    <li><span id="seconds"></span>секунд</li>
                </ul>
            </div>
            @if (!isApproved)
            {
                <button type="button" class="btn btn-primary my-2 mx-auto" data-toggle="modal" data-target="#courseModal">
                    Онлайн курсты сатып алу
                </button>
            }
        </div>
        <div class="accordion" id="accordionCourse">
            @foreach (var week in Model.OnlineCourseWeeks)
            {
                <div class="card">
                    <div class="card-header" id="heading_@week.Id">
                        <div class="mb-0">
                            @if (week == nearestWeek && isApproved)
                            {
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_@week.Id" aria-controls="collapse_@week.Id">
                                    @week.Name
                                </button>
                                <div class="btn float-right">@week.StartDate.ToString("dd.MM.yyyy")</div>
                            }
                            else
                            {
                                <div class="btn">
                                    @week.Name
                                </div>
                                <div class="btn float-right">@week.StartDate.ToString("dd.MM.yyyy")</div>
                            }
                        </div>
                    </div>
                    @if (week == nearestWeek && isApproved)
                    {
                        <div id="collapse_@week.Id" class="collapse" aria-labelledby="collapse_@week.Id" data-parent="#accordionCourse">
                            <div class="card-body">
                                @week.Description
                                <div class="youtube-stream mx-auto mt-3">
                                    <iframe src="@week.StreamUrl">
                                    </iframe>
                                </div>
                                @if (week.Homeworks.Count > 0)
                                {
                                    <div class="homework">
                                        <p>Үй жұмысы:</p>
                                        <div class="homework-items">
                                            @foreach (var homework in week.Homeworks)
                                            {
                                                <a class="btn btn-outline-success" asp-controller="OnlineCourseWeek" asp-action="DownloadHomework" asp-route-id="@homework.Id">@homework.Name</a>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ақпарат қалдырыңыз.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="SendCallRequest" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Есіміңіз</label>
                        <input name="name" type="text" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label name="name">Телефон нөміріңіз</label>
                        <input name="number" type="text" class="form-control" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Ақпарат Қалдыру</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;
    let countDownWeek = new Date('@nearestWeek?.StartDate.ToString(CultureInfo.InvariantCulture)').getTime(),
        x = setInterval(function() {

                let now = new Date().getTime(),
                    distance = countDownWeek - now;
                document.getElementById('days').innerText = Math.floor(distance / (day)),
                    document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
                    document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
                    document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);
            },
            second);
</script>
