@using ErkinStudy.Infrastructure.Services
@model IEnumerable<ErkinStudy.Domain.Entities.Lessons.Folder>
@inject FolderService FolderService
@inject UserService UserService
@{
    ViewData["Title"] = "Index";
}
<div class="container mt-3">
<h3>Folders</h3>
<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Parent
            </th>
            <th>
                Teacher
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @FolderService.GetFolderName(item.ParentId ?? -1)
                </td>
                <td>
                    @UserService.GetFullNameByUserId(item.TeacherId ?? -1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Manage" asp-route-id="@item.Id">Manage</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        @if (item.EnableLanding)
                        { 
                            <a asp-action="Landing" asp-route-id="@item.Id">Landing Page</a>
                        }
                    }
                </td>
            </tr>
            var childs = await FolderService.GetChilds(item.Id);
            foreach (var child in childs)
            {
                <tr class="table-secondary ml-5 w-75">
                    <td>
                        @child.Id
                    </td>
                    <td>
                        @child.Name
                    </td>
                    <td>
                        @child.Description
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @UserService.GetFullNameByUserId(child.TeacherId ?? -1)
                    </td>
                    <td>
                        @child.Order
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => child.IsActive)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@child.Id">Edit</a> 
                        <a asp-action="Manage" asp-route-id="@child.Id">Manage</a> 
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@child.Id">Delete</a>
                            if (child.EnableLanding)
                            {
                                <a asp-action="Landing" asp-controller="Folder"  asp-route-id="@child.Id">Landing Page</a>
                            }
                        }
                       
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>