@model ErkinStudy.Domain.Entities.Quiz.Quiz

@{
    ViewData["Title"] = "Quiz";
}

<h1>@Model.Title</h1>

<form asp-action="Check">
    <input type="hidden" name="quizId" value="@Model.Id" />
    <div class="form-group">
        <ol type="1">
            @foreach (var question in Model.Questions) 
            {
                <li>
                    @Html.DisplayFor(modelItem => question.Content)
                </li>
                <ol type="a">
                    @foreach( var ans in question.Answers)
                    {
                        <li>
                            <input class="answer" type="radio" name="@question.Id" value="@ans.Id"> @ans.Content
                        </li>
                    }
                </ol>
            }
        </ol>
    </div>
    <div class="form-group">
        <input type="button" value="Тексеру" class="btn btn-primary pass_quiz" />
    </div>
</form>

<script type="text/javascript">
    $(function() {
        
        $(".pass_quiz").on("click", function() {

            let quizId = $("input[name='quizId']").val();
            
            let checkedAnswers = [];
            $(".answer:checked").each(function() {
                checkedAnswers.push($(this).val());
            });

            let formData = JSON.stringify({
                'quizId': quizId,
                'checkedAnswers': checkedAnswers
            })

            console.log(formData);
            $.ajax({  
                type: "POST",
                url: "@Url.Action("Check", "TakeQuiz")",
                contentType: "application/json; charset=utf-8",
                data: formData,
                dataType: "json",

                success: function (result, status, xhr) {  
                },  
                error: function (xhr, status, error) {    
                }  
            });  
        });

    });
</script>